body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.box {
    position: absolute;
    width: 150px;
    height: 100px;
    color: white;
    padding: 8px;
    box-sizing: border-box;
}

.red {
    background-color: red;
    top: 40px;
    left: 40px;
    z-index: 1;
}

.blue {
    background-color: blue;
    top: 70px;
    left: 90px;
    z-index: 2;
}

.green {
    background-color: green;
    top: 100px;
    left: 140px;
    z-index: 3;
}
