.box {
    width: 180px;
    height: 80px;
    border: 1px solid black;
    padding: 4px;
    margin: 8px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    display: inline-block;
    vertical-align: top;
}

.box h2 {
    margin: 0 0 4px;
    font-size: 12px;
}

.box p {
    margin: 0;
}

.visible {
    overflow: visible;
}

.hidden {
    overflow: hidden;
}

.scroll {
    overflow: scroll;
}

.auto {
    overflow: auto;
}
